body {
    background-color: #FFFAF5;
    font-family: "Poppins";
    font-size: 14px;
}

.titulo_cadastro {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: #000958;
}

.form_cadastro {
    /* width: 40%; */
    background-color: #FF5B2E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_cadastro {
    width: 90%;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-left: 10px;
}


.input_textarea {
    width: 90%;
}

.subtitulo_cadastro {
    font-size: 14px;
    color: #000958;
}

.container_caracteristicas {
    display: flex;
    width: 70%;
    align-items: center;
    margin: 5px 0;
    margin-left: 10px;
    flex-wrap: wrap;
}

.subtitulo_cadastro {
    margin-right: 5px;
}

.container_caracteristicas>.btn {
    background-color: var(--cor-de-fundo);
    color: var(--azul-escuro);
    border-color: var(--azul-escuro);
    margin: 5px;
}