.container_footer {
  width: 100%;
  background-color: #61bce3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-top: 3rem;
  position: relative;
}
