:root {
    --cor-de-fundo: #FFFAF5;
    --azul-escuro: #000958;
    --branco-escrita: #FEFEFE;
    --fonte-principal: "Poppins";
    --laranja: #FF5B2E;
    --azul-claro: #61BCE3;
}

html {
    height: 100%;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    min-height: 100%;

}

/* Seção principal */

.secao__principal {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-de-fundo);
}

.container__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo__principal {
    font-size: 50px;
    font-weight: 400;
    color: var(--azul-escuro);
    text-align: center;
}

.subtitulo__principal {

    font-size: 62px;
    font-weight: 500;
    color: var(--azul-escuro);
    text-align: center;
}

.d-inline-flex {
    flex-wrap: wrap;
}

.btn {
    margin: 0 0.3rem;
    margin-bottom: 1rem;
    background-color: #FF5B2E !important;
    border-color: #FF5B2E !important;
}

.btn:hover {
    background-color: #61BCE3 !important;
    border-color: #61BCE3 !important;
}

/* Seção servicos */


.servicos {
    background: linear-gradient(#61BCE3, #bfd0d7);

}

.card-body {
    background-color: var(--azul-claro);
}


.container__secoes {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    text-align: center;
    width: 100vw;
    height: 100vh;

}

.container__cards {

    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 0 2rem;
}

.card-body,
.card {
    background-color: var(--laranja);
}

.card-title,
.card-text {
    color: var(--branco-escrita);
    font-weight: 400;
}

.secao_titulo {
    color: var(--azul-escuro);
    margin-bottom: 4rem;
    font-weight: 400;
}



/* Seção Experiências  */

.experiencias {
    background-color: var(--cor-de-fundo);
}




/* Footer  */

.container_rodape {
    background-color: var(--azul-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.rede_social_link {
    text-decoration: none;
}


.texto_footer {
    font-size: 12px;
    margin-top: 1rem;
    color: var(--branco-escrita);
}